@import "tailwindcss"; /* Ini menggantikan @tailwind base, components, utilities */

@import '../../vendor/wirechat/wirechat/resources/css/app.css';

/* Gunakan @source jika Anda ingin menambahkan file scan custom (opsional di v4) */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@import "tailwindcss";

@layer base {
    /* now this is valid */
}
